/*Font-family*/
$fontfamily: "Roboto", sans-serif;
$fontfamily-title: "Roboto Slab", serif;

/*Font-color*/
$fontcolor: #000000;
$headercolor: #ffffff;
$linkcolor: #ffffff;

/*Background-color*/
$footerbackground: #304268;
$section2background: #eff9ff;
