.main {
  font-family: $fontfamily;
  width: 100%;

  &__form {
    margin-bottom: 50px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 5px;

    .form__input {
      height: 35px;
      width: 180px;
      font-size: 18px;
    }

    .form__button {
      height: 40px;
      width: 50px;
      width: 120px;
      font-size: 20px;
      background-image: linear-gradient(
        178.2deg,
        rgba(118, 8, 23, 1) 10.9%,
        rgba(158, 12, 33, 1) 62.6%
      );
      color: whitesmoke;
      font-weight: bold;
    }
  }

  &__shows-section {
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;

    .shows-list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      color: rgb(8, 8, 8);
      font-size: 20px;
      margin-left: 50px;

      .show-list__item {
        height: 400px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
        border-radius: 4px;
        cursor: pointer;

        .item__picture {
          height: 300px;
        }
      }
    }

    .item-color {
      background-color: #85929e;
    }

    .fav-color {
      background-image: linear-gradient(
        178.2deg,
        rgba(118, 8, 23, 1) 10.9%,
        rgba(158, 12, 33, 1) 62.6%
      );

      box-shadow: 2px 2px 10px #666;
    }

    .favorites-section {
      .fav-shows-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: rgba(158, 12, 33, 1);
        font-family: $fontfamily-title;
        font-size: 30px;

        .show-list__item {
          height: 200px;
          width: 400px;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: flex-start;
          font-family: $fontfamily;
          color: white;
          border-style: groove;
          border-width: 20px solid;
          position: relative;
          border-radius: 4px;
          border-color: white;

          .item__picture {
            height: 200px;
          }

          .favorite-show-title {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 20px;
          }

          .icon {
            width: 25px;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
          }
        }
      }
      .bin-container {
        margin-top: 25px;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border-style: solid;
        border-color: black;
        border-width: 4px;
        align-self: center;
      }
      .bin-button {
        width: 50px;
        cursor: pointer;
      }
    }
  }
}
